
/*
COLORS: 
#8ecccc
#50717b
#3a4042
#212121
*/


/*About*/


.page_body{
    background-color: #212121;
}


.navbar{
    background-color: rgb(43, 43, 43);
    overflow: hidden; 
}

.navbar a{
    color: whitesmoke;
    display: block;
    float: left;
    padding: 14px 16px; 
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(194, 184, 184); 
}

/*HOME*/

.home{
    height: 300px; 
    width: fit-content;
    margin: 100px 200px 100px 200px; 
    height: 100%;
}

.home h2{
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}

.home_container{
    display: flex;
    background-color: #50717b;
    border-radius: 25px;
    overflow: hidden;
}


.home_text{
    color: whitesmoke; 
    float: left; 
}

.home_text h2{
    margin: 20px 0px 0px 0px; 
    font-size: 35px;
}

.home_text h3{
    margin: 0; 
    font-size: 25px;
}

.home_text p{
    font-size: 20px;
    
}

.home_container img{
    float: left; 
    height: 500px;
    width: auto; 
    
}

/*ABOUT*/
.about{
    color: whitesmoke; 
}

.about_structure{
    display: flex; 
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap; 
    margin: 100px 100px 100px 100px; 
    gap: 2rem; 
}

.badge_box{
    display: box; 
    text-align: center;
    background-color: #50717b;
    width: 300px;
    height: 300px; 
    flex: 1; 
    padding: 1.5rem;
    border-radius: 25px;
}

/*PROJECTS*/
.projects{
    color: whitesmoke;
}


/*CONTACT*/
.contact{
    color: whitesmoke; 
}

