
.navbar{
    background-color: rgb(43, 43, 43);
    overflow: hidden; 
}

.navbar a{
    color: whitesmoke;
    display: block;
    float: left;
    padding: 14px 16px; 
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(194, 184, 184); 
}

