
/*
COLORS: 
#8ecccc
#50717b
#3a4042
#212121
*/


html{
    scroll-behavior: smooth;
}

/*About*/


.page_body{
    background-color: #212121;
}


.navbar{
    background-color: rgb(43, 43, 43);
    overflow: hidden; 
    top: 0; 
    width: 100%;
    position: fixed;
}

.navbar a{
    color: whitesmoke;
    display: block;
    float: left;
    padding: 14px 16px; 
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(194, 184, 184); 
}

/*HOME*/

h2{
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}

h3{
    font-size: 25px;
}

.home{
    justify-content: center;
    height: 300px; 
    width: fit-content;
    margin: 25% 200px 25% 200px; 
    height: 100vh;
}



.home_container{
    display: flex;
    background-color: #50717b;
    border-radius: 25px;
    overflow: hidden;
}


.home_text{
    color: whitesmoke; 
    float: left; 
}

.home_text h2{
    font-size: 35px;
}

.home_text h3{
    margin: 0; 
}

.home_text p{
    font-size: 20px;
    
}

.home_container img{
    float: left; 
    height: 500px;
    width: auto; 
    
}

/*ABOUT*/
.about{
    color: whitesmoke; 
    /*margin: 0px 100px 0px 100px; */
    margin: 0 200px 0 200px; 
    height: 100vh;
}

.label_box_container{
    display: flex;
    flex-flow: row wrap;
    gap: 50px; 
}

.label_box{
    background-color: #3a4042;
    border-radius: 25px;
    flex: 1 auto; 
    text-align: center;
}

.text_box{
    background-color: #3a4042;
    border-radius: 25px;
    display: block; 
    margin: 50px 100px 0px 100px; 
    overflow: hidden;
}

/*PROJECTS*/
.projects{
    color: whitesmoke;
    /*margin: 50px 100px 0px 100px;*/
    margin: 0px 200px 0px 200px; 
    height: 100vh; 

}

.pcontainer_holder{
    margin: 15% 0 15% 0; 
}

.projects_container{
    display: flex; 
    background-color: #3a4042;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
}
.projects_container video{
    height: auto; 
    width: 400px; 
}

.projects_text h3{
    margin-top: 0;
    margin-left: 20px; 
    
}

.projects p{
    margin-left: 20px;
}


/*CONTACT*/
.contact{
    color: whitesmoke; 
    margin: 0px 200px 0px 200px; 
    height: 100vh; 
}

